@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  color: #111827;
}

:root {
  --primary-dark: #0f172a;
  --primary-yellow: #fbbf24;
  --background-light: #f8fafc;
  --text-primary: #111827;
  --text-secondary: #4b5563;
}